  <% content_for(:title, 'ホームページ') %>
  <link rel="stylesheet" href="/home.css">

  <div class="container mt-5">
    <!-- 動的メッセージ部分 -->
    <div class="row justify-content-center mb-5">
      <div class="col-md-8 text-center mt-5">
        <h2 id="greeting-message"  class="greeting-message">毎日おつかれさまです</h2>
        <p id="sub-message" class="sub-message">今日の出来事を振り返りましょう<br>
        🌱🌱🌱</p>
      </div>
    </div>

  <div class="home-container">
    <div class="bottom-buttons text-center">
      <div class="mb-4" style="max-width: 300px; margin: 0 auto;">
        <div class="card h-100 border-success opacity-75 p-2" style="font-size: 0.9rem;">
          <div class="card-body text-center p-2">
            <h6 class="card-title mb-2"><span>🔰</span> 使い方</h6>
            <p class="card-text mb-2">アプリの使い方を確認しましょう</p>
            <button type="button" class="btn btn-success opacity-75 text-white" 
                    data-bs-toggle="modal" 
                    data-bs-target="#usageModal"
                    data-bs-focus="false">
              使い方をみる
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

              <%= render 'shared/usage' %>

  <div class="home-container">
    <div class="bottom-buttons">
      <div class="flex-fill mb-4 px-4">
        <div class="card h-100 border-primary opacity-75">
          <div class="card-body text-center">
            <h5 class="card-title mb-3"><span>📝</span> 記録する</h5>
            <p class="card-text">今日の出来事を記録しましょう</p>
            <%= link_to '日記投稿をする', new_post_path,
                        class: 'btn btn-primary btn-lg w-100' %>
          </div>
        </div>
      </div>

          <div class="flex-fill mb-4 px-4">
            <div class="card h-100 border-info opacity-75">
              <div class="card-body text-center">
                <h5 class="card-title mb-3"><span>📖</span> 振り返る</h5>
                <p class="card-text">今までの日記を見てみましょう</p>
                <%= link_to '日記投稿を見る', posts_path,
                            class: 'btn btn-info btn-lg w-100 text-white' %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  