<!DOCTYPE html>
<html>
<head>
  <title>ホームページ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>


  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="text-center">
            <h2>今日もお疲れ様です</h2>
            <p>今日の記録を付けてみましょう</p>
      </div>
    </div>
  </div>


  <div class="row">
  <div class="col-md-6 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-text">今日の出来事を記録しましょう</h5>
        <%= link_to '日記投稿をする', # 投稿ページ_path
                    class: 'btn btn-primary btn-lg w-100' %>
      </div>
    </div>
  </div>

  <div class="col-md-6 mb-3">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-text">今までの日記を見てみましょう</h5>
        <%= link_to '日記投稿を見る', posts_path,
                    class: 'btn btn-success btn-lg w-100' %>
      </div>
    </div>
  </div>

</body>
</html>