<% content_for(:title, 'SNS風日記アプリ') %>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8 text-center">
      <h1 class="mb-4">📝 SNS風日記アプリ</h1>
      <p class="lead mb-5">今日の出来事を整理しましょう！</p>
      
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">初めての方</h5>
              <p class="card-text">アカウントを作成して日記投稿を始めましょう！</p>
              <%= link_to '新規登録', new_user_path, 
                          class: 'btn btn-primary btn-lg w-100' %>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 mb-3">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">既存ユーザー</h5>
              <p class="card-text">アカウントにログインして日記を投稿しましょう！</p>
              <%= link_to 'ログイン', home_path, 
                          class: 'btn btn-success btn-lg w-100' %>
            </div>
          </div>
        </div>
      </div>