<div class="modal fade" id="usageModal" tabindex="-1" aria-labelledby="usageLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title bg-success opacity-75 text-white" id="usageLabel">使い方</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
      </div>
      <div class="modal-body">
        <p><strong class="text-info">🌱 ふぅ日記とは</strong> -  はじめに、「おつかれ自分。ふぅ日記」は、「ふぅ…」と一息つきながら、1日の振り返りにそっと自分の感情を書き出せる日記アプリです。<br>
        毎日を頑張るあなたが、1日を振り返り、自分の頑張りを認めて、少しでも自分を好きになれる時間をつくる——そんなお手伝いができればという想いを込めています。</p>
        <p><strong class="text-primary">① 日記投稿をする</strong> - 「日記投稿をする」ボタンを押すとフォームが開き、今日の出来事や気持ちを書き残せます。</p>
        <p><strong class="text-primary">② 日記一覧を見る</strong> - 「日記を見る」ボタンからこれまでの日記を振り返ることができます。</p>
        <p><strong class="text-primary">③ シェア機能</strong> - 日記一覧や詳細画面からXにシェア投稿ができます。<br>
        日々の頑張りや小さな喜びを、誰かと分かち合ってみましょう。</p>
        <p><strong class="text-primary">④ プロフィール</strong> - ヘッダーのプロフィールからニックネームとユーザー画像を変更できます。<br>(※シェア投稿で、ニックネーム、ユーザー画像が表示されます)
        <p><strong class="text-primary">⑤ ログアウト</strong> - ヘッダー右上のメニューからいつでもログアウトできます。</p>
        <p><strong class="text-success">♡ いいね</strong> - 投稿した日記にはいいねがつきます。<br>気軽に、あなたらしい言葉でつづってみましょう。</p>
        <p><strong class="text-success">📝 日記について</strong> - 日記は日々の出来事だけでなく、その時の気持ちもそっと残せる場所です。<br>
        言葉にすることで心が整理され、気持ちがやわらぎ、穏やかな時間につながります。</p>
        <p><strong class="text-success">📔 日記の管理について</strong> - あなたの日記はあなただけの大切な記録。管理者を含め、誰にも見られることはありません。<br>
        安心して思ったことや感じたことを自由に書き出してください。（※シェア投稿のみ内容が取得されます）</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>

<script src="/usage.js"></script>